.card-container{
    @include card-container
}

.card-item{
    @include card-base;
    text-decoration: none;
    color: #000;
}

.card-item:hover{
    background-color: #ddda;
    cursor: pointer;
}

.card-item img{
    @include card-image
}