body{
    padding: 2rem;
}

.nav-container{
    justify-content: end;
}

.image-container{
    display: flex;
    justify-content: space-between;

}

.image-container-alone{
    width: 100%;
}

.article-text{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.article-text-container{
    width: 60vw;
}

.main-images{ 
    width: 49%;
}